/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

*/

:root {
  --color-white: rgb(248, 248, 248);
  --color-primary: #0d365b;
  --color-primary-light: #74c0fc;
  --color-pink: #f06595;
  --color-yellow: #ffe066;
  --color-green: #40c057;
  --color-red: #fa5252;
  --ion-color-secondary: #1864ab;
  --color-secondary: #eb984e;
  --color-secondary-dark: #cf711f;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: 'Inconsolata', monospace;
  line-height: 1;
  font-weight: 400;
  color: #555;
  letter-spacing: -1px;
  background-color: var(--color-white);
  overflow-x: hidden;
}
